.hero-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 300px 60px 300px;
}

.modulos-conteiner {
    display: flex;
    flex-direction: column;
    padding: 100px 60px;
    
}

.certificado-conteiner {
    display: flex;
    flex-direction: column;
    padding: 100px 60px;
}

.profs-conteiner {
    display: flex;
    flex-direction: column;
    padding: 100px 60px;
}

.footer-conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}