* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth
}

@import "../assets/others/colos";
@import ".././assets/fonts/fonts";
@import "../assets/others/conteiners";

::-webkit-scrollbar {
    width: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;
    color: white
}

.hero {
    background-image: linear-gradient(45deg, $bg-secundary, $bg-primary);
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px 10px;
    background-color: rgba(0, 1, 28, 0.634);
    z-index: 1;
}

ul {
    display: flex;
    align-items: center;
    gap: 45px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #d0d0d0;
    transition: all .5s;
}

ul li a:hover {
    color: #ffffff;
}

.matricula {
    border: 2px solid #d0d0d0;
    border-radius: 10px;
    padding: 10px 25px;
    color: #ffffff;
    background-image: linear-gradient(45deg, rgb(13, 13, 74), rgb(1, 1, 118));
    transition: all .5s ease-in-out;
}

.matricula:hover {
    padding: 10px 35px;
}

.hero-title-container {
    margin-bottom: 20px;
}

.hero-title {
    font-size: 64px;
    margin: 0;
}

.hero-title span {
    font-size: 68px;
}

.hero-description {
    font-size: 24px;
    width: 600px;
    color: #efefef;
}

.hero-rate {
    font-size: 20px;
    font-weight: 500;
    color: #efefef;
    margin-top: 20px;
}

.hero-icon {
    width: 80px;
    cursor: pointer;
    transition: all .5s;
}

.hero-icon:hover {
    scale: 105%;
}

.hero-img {
    width: 600px;
}


h1 {
    font-weight: bold;
    font-size: 36px;
}

p {
    font-weight: lighter;
    font-size: 24px;
}

span {
    color: $text-color-secundary;
}

.hero-btn {
    width: 300px;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    background-image: linear-gradient(45deg, rgb(13, 13, 74), rgb(1, 1, 118));
    margin-top: 20px;
    cursor: pointer;
    transition: all .5s;
}

.hero-btn:hover {
    width: 350px;
    border: 2px solid white;
    color: white;
    background-image: linear-gradient(45deg, rgb(11, 11, 62), rgb(1, 1, 103));
}

@media screen and (max-width: 900px) {
    .hero-conteiner {
        flex-direction: column;
    }

    .hero-img {
        padding: 0px;
        width: 378px;
    }

    .hero-text {
        width: 300px;
        margin: 25px 0px;
    }

    .hero-email {
        width: 400px;
        text-align: center;
        padding-top: 50px;
        margin-top: 50px;
    }

    .email-title {
        font-size: 34px;
        text-shadow: 2px 2px 20px rgba(255, 255, 0, 0.613);
    }

}

/*---------------------------------------------*/

.bg-modulos {
    background-image: linear-gradient(45deg, rgb(198, 198, 198), rgb(255, 255, 255));
}

.modulos-title {
    font-size: 64px;
    color: black;
    opacity: .8;
}

.modulos-description {
    font-size: 20px;
    font-weight: 500;
    color: black;
    opacity: .8;
}

.modulos {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 20px;
}

.modulo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 20%;
    height: auto;
    padding: 50px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.533);
    color: black;
    background-image: linear-gradient(45deg, rgb(13, 13, 74), rgb(1, 1, 118));
    cursor: pointer;
    transition: all .5s;
}

.modulo:hover {
    scale: 103%;
}

.modulo-title {
    font-size: 32px;
    color: white;
    padding: 0 10px;
}

.modulo-duration {
    font-size: 24px;
    color: white;
    padding: 0 10px;
}

.modulo-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 20px;
    font-weight: 500;
    color: black;
    background-color: white;
    padding: 40px 10px;
}

@media screen and (max-width: 900px) {
    .modulos-content {
        width: 385px;
        height: 500px;
    }

    h2 {
        font-size: 28px;
    }

    li {
        font-size: 20px;
        line-height: 30px;
    }
}

.bg-certificado {
    background-image: linear-gradient(40deg, $bg-secundary, $bg-primary);
}

.certificado-title {
    font-size: 64px;
    opacity: .9;
}

.certificado-description {
    font-size: 20px;
    opacity: .8;
}

.certificado-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}

.form-title {
    width: 500px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.certificado-name, .certificado-email, .certificado-phone {
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.certificado-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px;
    background-image: linear-gradient(45deg, rgb(13, 13, 74), rgb(1, 1, 118));
    border: 2px solid white;
    border-radius: 10px;
    padding: 50px 10px;
}

.certificado-form input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: none;
    background-color: $bg-secundary;
    color: white;
    font-size: 18px;
    overflow: hidden;
    outline: none;
}

.certificado-form label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: white;
}

.certificado-btn {
    width: 50%;
    height: 50px;
    margin: auto;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    background-image: linear-gradient(45deg, $bg-primary, $bg-secundary);
    cursor: pointer;
    transition: all .5s;
}

.certificado-btn:hover {
    width: 55%;
    border: 2px solid white;
    color: white;
}

@media screen and (max-width: 900px) {
    .certificado-content {
        margin: auto;
        width: 400px;
    }

    .certificado-text {
        margin: auto;
        width: 350px;
    }

    .certificado-img {
        width: 320px;
        margin: auto;
        padding: 20px;
    }
}

.bg-profs {
    background-image: linear-gradient(45deg, rgb(198, 198, 198), rgb(255, 255, 255));
}

.prof-img {
    width: 100%;
}

.prof {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.364);
    margin: 20px 0px;
    width: 285px;
    border-radius: 5px;
    overflow: hidden;
    background-image: linear-gradient(45deg, rgb(13, 13, 74), rgb(1, 1, 118));
    cursor: pointer;
    transition: all .5s;
}

.prof:hover {
    background-image: linear-gradient(45deg, rgb(10, 10, 56), rgb(1, 1, 98));
}

.prof-info, .prof-name {
    color: black;
}

.profs-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96vw;
    gap: 35px;
}

.profs-title {
    font-size: 64px;
    color: black;
    opacity: .8;
}

.profs-description {
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-bottom: 60px;
    opacity: .8;
}

.prof-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 10px 20px;
    color: white;
    opacity: .8;
}

.prof-info {
    padding: 8px;
    color: rgb(0, 0, 0);
    font-size: 22px;
}


@media screen and (max-width: 900px) {
    .profs-row {
        flex-wrap: wrap;
        gap: 20px;
        width: 380px;
    }

    .prof {
        width: 180px;
        height: 380px;
    }
}

.footer-icon {
    width: 100px;
    margin: 0px 20px;
}

.bg-footer {
    background-color: $bg-secundary;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.footer-content p {
    width: 500px;
    font-size: 20px;
}

@media screen and (max-width:900px){
    .footer-icon{
        width: 80px;
    }

    .footer-content p {
        width: 400px;
        font-size: 18px;
        margin: 20px 0px;
    }
}

